.App {
  text-align: center;
}

.App h1{
  width: 95%;
  margin: 4% auto;
  padding: 1% 0;
  border:3px double lightcoral;
  background-color: lightskyblue;
}

.form{
  margin: 3% auto 7%;
  font-size: 1.6rem;
}

button{
  border-radius: 5px;
  border:3px double lightcoral;
  background-color: lightskyblue;
}

button:hover{
  background-color: lightcoral;
  border-color: lightseagreen;
}

.team-list{
  width: 90%;
  margin: 5% auto;
}

.label{
  margin: 2%;
  padding: 1%;
}